API_ID=put_your_api_id_here
API_HASH=put_your_api_hash_here
STRING_SESSION=put_your_telethon_string_session_here
CHANNEL_USERNAME=Offsideahdaff
BACKEND_NEWS_ENDPOINT=https://fantasy-2wc5.onrender.com/api/news/telegram
SOURCE_NAME=Offside
LATEST_POST_LIMIT=15
